.searchBox {
    width: 50vw;
    padding: 15px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
}

.customInput {
    width: 150px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid gray;
}

.select {
    color: gray;
    border-radius: 5px;
    border: 1px solid gray;
    height: 38px;
}

span {
    color: #ee394a;
    font-weight: bold;
}

@media (max-width: 700px) {
    .searchBox {
        width: 80vw;
    }

    .tableW {
        width: 95vw !important;
    }

    svg {
        width: 16px;
        height: 16px;
    }

    th {
        font-size: smaller;
        vertical-align: middle;
    }

    td {
        font-size: small;
        vertical-align: middle;
    }

    td img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 847px) {

    .select,
    span,
    input[type="text"] {
        margin-bottom: 10px;
    }
}