.footerItem {
    height: 300px;
    background-color: #344258;
    font-family: "Montserrat Alternates";
}

.header {
    color: white;
    text-align: center;
    padding: 10px;
}

.main {
    padding-top: 20px;
    padding-bottom: 15px;
}

.textColor {
    color: #fbfbfb;
}